@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background-color: [#007EBD];
    --text-color: #121212
}
.dark-theme {
    --background-color:[#007EBD];
    --text-color: #ffffff;
    /* Adjust other theme colors for dark theme */
  }

  